.home-container{
    min-height: 100vh;
    background-color: var(--background);
    position: relative;

}
.content{
    width: 100%;
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-task{
    width: 55px;
    height: 55px;
    background-color:var(--light-black);
    border-radius: 50%;
    position: fixed;
    bottom: 50px;
    right: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    cursor: pointer;
    transition: all 0.3s;
}
.add-task span{
    color: aliceblue;
    margin-bottom: 6px;
}
.add-task:hover{
    background-color: rgb(57, 127, 57);
    scale: 1.1;
}
